<% content_for :page_title, "Release #{@release.id}"  %>

<h1><%= "Release #{@release.id}" %></h1>

<div class="btn-group">
  <%= link_to "Edit", { action: "edit", id: @release.id }, class: "btn" %>
</div>
